<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La morada del libro</title>
    <link rel="stylesheet" href="../static/index.css">
</head>

<body>

    <header>
        <h1>La morada del libro</h1>
    </header>

    <!-- FILTROS -->
    <section id="filtros">
        <input type="text" id="buscarNombre" placeholder="Buscar por título...">

        <select id="filtrarGenero">
            <option value="">Género</option>
        </select>

        <input type="number" id="precioMax" placeholder="Precio máximo">

        <select id="ordenar">
            <option value="">Ordenar por...</option>
            <option value="alfa_asc">A-Z</option>
            <option value="alfa_desc">Z-A</option>
            <option value="precio_asc">Precio ↑</option>
            <option value="precio_desc">Precio ↓</option>
            <option value="paginas_asc">Páginas ↑</option>
            <option value="paginas_desc">Páginas ↓</option>
            <option value="reciente">Más reciente</option>
        </select>

        <button id="btnFiltrar">Aplicar filtros</button>
    </section>

    <!-- ESTADÍSTICAS -->
    <section id="estadisticas">
        <h2>Estadísticas</h2>
        <p id="totalLibros"></p>
        <p id="promedioPrecio"></p>
        <p id="categoriaMas"></p>
        <p id="masCaro"></p>
        <p id="cantidadFav"></p>
    </section>

    <!-- LISTA DE LIBROS -->
    <section id="listaLibros">
        Cargando libros...
    </section>

    <script src="../static/index.js"></script>
</body>

</html>